<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내꼬니꼬</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/xeicon.min.css}" href="../css/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_reset.css}" href="../css/h_reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_style.css}" href="../css/h_style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_sub.css}" href="../css/h_sub.css">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script th:src="@{/js/main.js}" src="../js/main.js"></script>
</head>
<body>
    <div class="wrap">
        <header class="header header_border">
            <div class="sub_header sub_header_admin h_con">
                <h1 class="logo">
                    <a href="../../../../../../../neconico_file/html/index.html"><img src="../img/logo.png" alt=""></a>
                    <span>관리자 페이지</span>
                </h1>
                <ul class="admin_wrap">
                    <li>
                        <a href="#" class="admin_img">
                            <img src="../img/main_user_icon_p.png" alt="">
                        </a>
                        <div class="admin_name">
                            <p><span>0 0 0</span>님</p>
                        </div>
                    </li>
                    <li class="admin_logout clearfix">
                        <a href="#">로그아웃</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="section_wrap">
            <div class="admin_left">
                <ul class="admin_menu">
                    <li>
                        <a href="#">회원관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin.html">회원 목록 조회</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin02.html">관리자 목록 조회</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin03.html">회원 그룹별 조회</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin04.html">회원가입 추이</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">상품관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin05.html">상품 등록 수</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin06.html">거래 완료 비율</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin07.html">카테고리 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">광고관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin08.html">광고관리</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin09.html">광고등록</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a th:href="@{/admin/notices}">공지사항</a>
                        <ul class="admin_sub">
                            <li class="active">
                                <a th:href="@{/admin/notices}">공지사항</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="admin_right">
                <h3 class="h_fs_26">공지사항</h3>

                <div class="adm10_list">
                    <ul>
                        <li>
                            <span class="adm10_l">등록번호</span>
                            <span th:text="${notice.noticeId}" class="adm10_r">1004</span>
                        </li>
                        <li>
                            <span class="adm10_l">제목</span>
                            <span th:text="${notice.title}" class="adm10_r">사이트 정기 점검</span>
                        </li>
                        <li>
                            <div>
                                <span class="adm10_l">등록일</span>
                                <span th:text="${notice.createdDate}" class="adm10_r">2021.05.08</span>
                            </div>
                            <div>
                                <span class="adm10_l">작성자</span>
                                <span th:text="${notice.accountId}" class="adm10_r"></span>
                            </div>
                        </li>
                        <li>
                            <span class="adm10_l">내용</span>
                            <pre id="content" th:text="${notice.content}" class="adm10_r">사이트 정기 점검으로 이용이 불가할 예정입니다.<br>
                            점검일시 : 2021.05.08 00:00 ~ 03:00<br>
                            임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.</pre>
                        </li>
                    </ul>
                </div>

                <ul class="adm08_btn_box">
                    <li>
                        <a th:href="@{/admin/notice/{noticeId}/edit(noticeId=${notice.noticeId})}" class="modify_btn">수정</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/admin/notices}" class="list_btn">목록으로</a>
                    </li>
                    <li>
                        <a href="#" th:href="'javascript:askDelete('+${notice.noticeId}+')'" class="del_btn">삭제</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
<script type="text/javascript">
    /* th:href="'javascript:deleteBoard('+${boardInfo.id}+')'"*/
    function askDelete(noticeId){
        if(confirm("삭제하시겠습니까?")==true){
            let form = document.createElement("form");
            form.setAttribute("method","post");
            form.setAttribute("action","/admin/notice/"+noticeId+"/delete");
            document.body.appendChild(form);
            form.submit();

            alert("삭제되었습니다")
        }else{
            alert("삭제 취소하였습니다.")
            return false;
        }
    }

</script>
</body>
</html>