<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="wrap">
    <header th:replace="fragment/admin_body_header :: admin_body_header"/>
    <div class="section_wrap">
        <div th:replace="fragment/admin_menu :: admin_menu"/>

        <div class="admin_right">
            <h3 class="h_fs_26">공지사항</h3>

            <form th:action class="adm_notice_write" name="adm_notice_write" method="post">
                <input type="text" name="title" placeholder="제목">
                <textarea name="content" cols="30" rows="10" placeholder="공지사항 내용을 적어주세요."></textarea>

                <ul class="adm08_btn_box adm09_btn_box">
                    <li class="on">
                        <a style="cursor:pointer" class="confirm_btn" onclick="submit_notice()">등록</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/notice/list}" class="list_btn">목록</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

</div>
<!--공지사항 등록 js-->
<script type="text/javascript" src="/js/admin/submit_notice.js"></script>
</body>
</html>