<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내꼬니꼬</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/xeicon.min.css}" href="../css/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_reset.css}" href="../css/h_reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_style.css}" href="../css/h_style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_sub.css}" href="../css/h_sub.css">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script th:src="@{/js/main.js}" src="../js/main.js"></script>
</head>
<body>
    <div class="wrap">
        <header class="header header_border">
            <div class="sub_header sub_header_admin h_con">
                <h1 class="logo">
                    <a href="../../../../../../../neconico_file/html/index.html"><img src="../img/logo.png" alt=""></a>
                    <span>관리자 페이지</span>
                </h1>
                <ul class="admin_wrap">
                    <li>
                        <a href="#" class="admin_img">
                            <img src="../img/main_user_icon_p.png" alt="">
                        </a>
                        <div class="admin_name">
                            <p><span>최 짱 연</span>님</p>
                        </div>
                    </li>
                    <li class="admin_logout clearfix">
                        <a href="#">로그아웃</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="section_wrap">
            <div class="admin_left">
                <ul class="admin_menu">
                    <li>
                        <a href="#">회원관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin.html">회원 목록 조회</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin02.html">관리자 목록 조회</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin03.html">회원 그룹별 조회</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin04.html">회원가입 추이</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">상품관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin05.html">상품 등록 수</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin06.html">거래 완료 비율</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin07.html">카테고리 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">광고관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin08.html">광고관리</a>
                            </li>
                            <li>
                                <a href="../../../../../../../neconico_file/html/page/admin09.html">광고등록</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a th:href="@{/admin/notices}">공지사항</a>
                        <ul class="admin_sub">
                            <li class="active">
                                <a th:href="@{/admin/notices}">공지사항</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="admin_right">
                <h3 class="h_fs_26">공지사항</h3>

                <div class="table adm08_table">
                    <div class="adm08_reg_btn">
                        <a th:href="@{/admin/notice/add}" href="./admin10_2.html">등록</a>
                    </div>

                    <table>
                        <colgroup>
                            <col width="8%">
                            <col width="30%">
                            <col width="15%">
                            <col width="20%">
                            <col width="20%">
							<col width="7%">
                        </colgroup>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>수정일</th>
							<th>상태</th>
                        </tr>

                        <tr th:each="notice : ${notices}">
                            <td th:text="${notice.noticeId}"></td>
                            <td><a  th:href="@{/admin/notice/{noticeId}(noticeId=${notice.noticeId})}"
                                    th:text="${notice.title}">공지사항제목이 나타납니다.</a></td>
                            <td th:text="${notice.accountId}">홍길동</td>
                            <td th:text="${notice.createdDate}">2021.05.01</td>
                            <td th:text="${notice.compareDate} ? '-' : ${notice.modifiedDate}">2021.05.30</td>
                            <td><a style="cursor: pointer"  th:text="${notice.noticeStatus}" onclick="updateStatus(this)">숨김</a></td>
                        </tr>

                    </table>


                    <div class="pagination" th:if="${pageMaker.totalContent}!=0">
                        <ul>
                            <li th:unless="${pageMaker.criteria.currentPage}==1">
                                <a class="page_prev" th:href="@{/admin/notices(currentPage=${pageMaker.criteria.currentPage}-1)}"></a>
                            </li >
                            <li th:each="idx : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                <a class="" th:href="@{/admin/notices(currentPage=${idx})}" th:text="${idx}" th:classappend="${idx == pageMaker.criteria.currentPage} ? active : ''">1</a>
                            </li>
                            <li th:if="${pageMaker.hasNext}">
                                <a class="page_next" th:href="@{/admin/notices(currentPage=${pageMaker.criteria.currentPage}+1)}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function updateStatus(obj){
        let request = new XMLHttpRequest();
        let noticeId = obj.parentElement.parentElement.firstElementChild.innerText;
        let noticeStatus = obj.innerText;

        if(noticeStatus=="숨김"){
            noticeStatus="공개"
        }else{
            noticeStatus="숨김"
        }

        let content = new Object();
        content.noticeId = noticeId;
        content.noticeStatus = noticeStatus;

        let jsonContent = JSON.stringify(content);

        console.log(jsonContent);
        console.log(noticeStatus);

        request.onreadystatechange = function changeStatus(){
            if(request.readyState==4 && request.status==200){
                obj.innerText = noticeStatus;
            }
        }

        request.open("PUT","/admin/notices/status/edit");
        /*content type이 맞나?*/
        request.setRequestHeader("Content-type","application/json");
        request.send(jsonContent);
    }
</script>
</body>
</html>
