<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="wrap">
    <header class="header header_border" th:replace="fragment/admin_body_header::admin_body_header"/>
    <div class="section_wrap">
        <div class="admin_left" th:replace="fragment/admin_menu :: admin_menu"/>

        <div class="admin_right">
            <h3 class="h_fs_26">공지사항</h3>

            <div class="adm10_list">
                <ul>
                    <li>
                        <span class="adm10_l">등록번호</span>
                        <span id="noticeId" th:text="${notice.noticeId}" class="adm10_r">1004</span>
                    </li>
                    <li>
                        <span class="adm10_l">제목</span>
                        <span th:text="${notice.title}" class="adm10_r">사이트 정기 점검</span>
                    </li>
                    <li>
                        <div>
                            <span class="adm10_l">등록일</span>
                            <span th:text="${notice.createdDate}" class="adm10_r">2021.05.08</span>
                        </div>
                        <div>
                            <span class="adm10_l">작성자</span>
                            <span th:text="${notice.accountId}" class="adm10_r"></span>
                        </div>
                    </li>
                    <li>
                        <span class="adm10_l">내용</span>
                        <span/>
                        <pre id="content" th:text="${notice.content}" class="adm10_r">사이트 정기 점검으로 이용이 불가할 예정입니다.<br>
                            점검일시 : 2021.05.08 00:00 ~ 03:00<br>
                            임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.임시텍스트입니다.</pre>
                    </li>
                </ul>
            </div>

            <ul class="adm08_btn_box">
                <li th:if="${notice.accountId}==${session.sessionUser.accountId}">
                    <a th:href="@{/admin/notice/{noticeId}/edit(noticeId=${notice.noticeId})}" class="modify_btn">수정</a>
                </li>
                <li>
                    <a href="#" th:href="@{/admin/notice/list}" class="list_btn">목록으로</a>
                </li>
                <li>
                    <a href="#" th:href="'javascript:askDelete('+${notice.noticeId}+')'" class="del_btn">삭제</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<script>

    const noticeId = document.getElementById("noticeId").innerText;
    console.log(noticeId);

    function askDelete(noticeId) {
        if (confirm("삭제하시겠습니까?") == true) {
            let form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/admin/notice/" + noticeId + "/delete");
            document.body.appendChild(form);
            form.submit();

            alert("삭제되었습니다")
        } else {
            alert("삭제 취소하였습니다.")
            return false;
        }
    }

</script>
</body>
</html>