<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header header_border" th:fragment="admin_body_header">
        <div class="sub_header sub_header_admin h_con">
            <h1 class="logo">
                <a href="../../../../../../../neconico_file/html/index.html"><img src="../img/logo.png" alt=""></a>
                <span>관리자 페이지</span>
            </h1>
            <ul class="admin_wrap">
                <li>
                    <a href="#" class="admin_img">
                        <img src="../img/main_user_icon_p.png" alt="">
                    </a>
                    <div class="admin_name">
                        <p><span>0 0 0</span>님</p>
                    </div>
                </li>
                <li class="admin_logout clearfix">
                    <a href="#">로그아웃</a>
                </li>
            </ul>
        </div>
</header>
</html>