<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header" th:fragment="body_header">
  <div class="pc_header">
    <div class="header_top">
      <ul class="h_con">
        <li th:unless="${session.sessionUser == null}" class="h_fs_12 h_fw_5">
          <a th:if="${session.sessionUser.authority.equals('ROLE_ADMIN')}" th:href="@{/admin}">관리자</a>
        </li>
        <li class="h_fs_12 h_fw_5" th:if="${session.sessionUser == null}">
          <a th:href="@{/login}">로그인/회원가입</a>
        </li>
        <li class="h_fs_12 h_fw_5" th:unless="${session.sessionUser == null}">
          <a th:href="@{/logout}">로그아웃</a>
        </li>
        <li class="h_fs_12 h_fw_5">
          <a th:href="@{/store/mystore}">내상점</a>
        </li>
      </ul>
    </div>
    <div class="header_middle h_con">
      <h1 class="logo">
        <a th:href="@{/}"><img src="/img/logo.png" alt="" /></a>
      </h1>
      <div class="search">
        <input
                class="h_fs_14"
                type="text"
                id="header_search"
                placeholder="상품명,지역명 검색"
        />
        <a href="#"><img src="/img/search_p.png"  alt="" /></a>
      </div>
      <ul class="user">
        <li class="h_fs_14">
          <a href="#"><i></i>판매하기</a>
        </li>
        <li class="h_fs_14">
          <a th:href="@{/store/mystore}"><i></i>내상점</a>
        </li>
        <li class="h_fs_14">
          <a th:href="@{/item/manage}"><i></i>상품관리</a>
        </li>
      </ul>
    </div>
    <div class="header_bottom h_con">
      <div>
        <div class="nav_btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <span>전체메뉴 보기</span>
      </div>

      <nav>
        <ul class="main_menu">
          <li th:each="categoryMain : ${session.categoryList}">
            <a href="#void" th:text="${categoryMain.name}">대분류 1</a>
            <ul class="sub_menu">
              <li th:each="categorySub : ${categoryMain.categorySubInfoDtoList}">
                <a href="#void" th:text="${categorySub.name}">중분류 1</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="mo_header h_con clearfix">
    <h1 class="mo_logo">
      <a href="index.html"><img src="/img/logo.png" alt="" /></a>
    </h1>
    <div class="mo_nav_btn_box">
      <div class="mo_nav_btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="mo_search">
      <a class="mo_sch_btn" href="#"
      ><img src="/img/search_p.png" alt=""
      /></a>
      <div class="mo_search_box">
        <input
                class="h_fs_14"
                type="text"
                id="mo_schbox_btn"
                placeholder="상품명,지역명 검색"
        />
        <a href="#"><img src="/img/search_p.png" alt="" /></a>
      </div>
    </div>
  </div>
</header>
</html>