<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="footer">
  <div class="footer_top">
    <ul class="h_con footer_menu">
      <li class="h_fs_14">
        <a href="/store/notice.html">공지사항</a>
      </li>
      <li class="h_fs_14">
        <a href="#">광고안내</a>
      </li>
      <li class="h_fs_14">
        <a href="#">운영정책</a>
      </li>
      <li class="h_fs_14">
        <a href="#">문의하기</a>
      </li>
    </ul>
  </div>

  <div class="footer_bottom">
    <div class="h_con f_add">
      <h1 class="f_logo">
        <a href="#"><img src="/img/f_logo.png" alt="" /></a>
      </h1>
      <div class="f_info">
        <address>회사정보 및 주소 입력란</address>
        <p class="h_fs_12">
          Copyright ⓒ NAECCONICCO. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
</html>