<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>내꼬니꼬</title>
    <style>
        .top:hover {
            opacity: 0;
        }

    </style>
</head>
<body>
<div style="width:100% ; text-align: center;">
    <div>
        <img src="/img/error/denied_page.png" width=90%>
    </div>
    <div>
        <h1>탈퇴한 회원일 경우 공지사항을 확인 해주세요</h1>
    </div>
    <div>
        <a href="/">
            <img src="/img/error/go_main_hover.png" width=60% style="position: relative">
            <img src="/img/error/go_main.png" width=60% style="position: absolute; left: 20%" class="top">
        </a>
    </div>
</div>
</body>
</html>