<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
    <div class="wrap">

        <div class="section_wrap h_con">
            <section class="join_wrap">
                <h1 class="join_logo">
                    <a th:href="@{/}">
                        <img src="/img/logo.png" alt="">
                    </a>
                </h1>
                <form action="#" th:object="${userJoinForm}" method="post" name="join" class="join_form">
                    <!-- hidden-->
                    <input type="hidden" id="email_id" value="">
                    <input type="hidden" id="duplicate_check_result" value="false">
                    <input type="hidden" id="author_number_check" value="false">

                    <!-- form input -->
                    <input type="text" th:field="*{accountId}" class="join_id" placeholder="아이디">
                    <label th:for="*{accountId}" class="join_label"></label>
                    <input type="button" id="join_id_conf" class="join_id_conf" value="중복확인" onclick="checkDuplicate()">


                    <input type="password" th:field="*{accountPw}" class="join_pw" placeholder="비밀번호">
                    <label th:for="*{accountPw}" class="join_label"></label>
                    <p>* 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</p>

                    <input type="password" id="passwordConfirm" class="join_pw" placeholder="비밀번호 확인">
                    <label for="passwordConfirm" class="join_label"></label>
                    <p>* 비밀번호가 일치하지 않습니다.</p>

                    <input type="text" th:field="*{accountName}" class="join_name" placeholder="이름">
                    <label th:for="*{accountName}" class="join_label"></label>

                    <input type="text" th:field="*{birthdate}" class="join_birth" placeholder="생년월일">
                    <label th:for="*{birthdate}" class="join_label"></label>
                    <input type="radio" th:field="*{gender}" class="join_m" name="join_sex" value="join_m">
                    <label th:for="*{gender}">남</label>
                    <input type="radio" th:field="*{gender}" class="join_fm" name="join_sex" value="join_fm">
                    <label th:for="*{gender}">여</label>

                    <input type="text" th:field="*{phoneNumber}" class="join_phone" placeholder="핸드폰번호">
                    <label th:for="*{phoneNumber}" class="join_label"></label>

                    <input type="email" th:field="*{email}" class="join_email2" placeholder="이메일">
                    <label th:for="*{email}" class="join_label"></label>
                    <input type="button" value="인증하기" id="join_email" class="join_email" onclick="sendAuthorNum()">
                    <div id="email_confirm" style="display: none">
                        <input type="email" id="author_number" class="join_email2" placeholder="인증번호">
                        <label for="join_email2" class="join_label"></label>
                        <input type="button" value="인증확인" id="join_email2" class="join_email" onclick="checkAuthorNum()">
                        <p id="author_timer"></p>
                    </div>

                    <input type="text" th:field="*{zipNo}" class="join_add" placeholder="우편번호">
                    <label th:for="*{zipNo}" class="join_label"></label>
                    <input type="button" value="주소검색" id="join_add_sch" class="join_add_sch">
                    <input type="text" th:field="*{address}" class="join_add_detail" placeholder="상세주소">
                    <label th:for="*{address}" class="join_label"></label>

                    <div class="join_agreement_box">
                        <textarea name="join_agreement" id="join_agreement" class="join_agreement" cols="30" rows="7">이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.이용약관 내용이 나옵니다.</textarea>
                        <input type="checkbox" th:field="*{infoAgreement}" class="join_agree" placeholder="" value="check">
                        <label th:for="*{infoAgreement}" class="join_label">동의합니다.</label>
                    </div>

                    <input type="button" value="회원가입">

                </form>
                
            </section>
        </div>
    </div>
    <script type="text/javascript">
        //아이디 증복 체크
        const checkDuplicate = () => {
            const accountId = document.getElementById("accountId").value;
            const duplicateCheck = document.getElementById("duplicate_check_result");
            const httpRequest = new XMLHttpRequest();

            if(accountId === '' || accountId === null) {
                alert('아이디를 입력해주세요.');
                return;
            }

            httpRequest.onreadystatechange = function () {
                if(this.readyState === 4 && this.status === 200) {
                    if(this.responseText === null || this.responseText === '') {
                        alert('사용가능한 아이디입니다.');
                        duplicateCheck.value = true;
                    }else{
                        alert('사용불가능한 아이디입니다.')
                        duplicateCheck.value = false;
                    }
                }
            }

            httpRequest.open("GET", "/user/" + accountId + "/check");
            httpRequest.setRequestHeader("Content-Type", "text/plain");
            httpRequest.send();
        }

        //이메일 전송
        const emailId = document.getElementById("email_id");
        const emailConfirm = document.getElementById("email_confirm");
        const authorNumberCheck = document.getElementById("author_number_check");
        let executeTimer = null;
        let executeTimeOut = null;

        const sendAuthorNum = () => {
            const inputEmail = document.getElementById("email");
            const httpRequest = new XMLHttpRequest();
            //타이머 count
            let timerCount = 180;

            /*
             * 인증버튼을 누른후 여러번 누를시 기존에 있는 인증번호, 타이머 제거
             * 기존 인증확인되었을 시 확인 제거
             */
            if(emailId.value != '') {
                deleteAuthorNumber();
                authorNumberCheck.value = false;
                clearInterval(executeTimer);
                clearTimeout(executeTimeOut);
            }

            httpRequest.onreadystatechange = function () {
                if(this.readyState === 4 && this.status === 200) {
                    emailId.value = parseInt(this.responseText);
                    emailConfirm.style.display = "block";
                    alert('인증번호를 해당 메일로 발송하였습니다.');

                    //이메일 인증 타이머
                    executeTimer = setInterval(timer, 1000);
                    executeTimeOut = setTimeout(timeOut, 180000, executeTimer);
                }
            }

            httpRequest.open("POST", "/user/email/send?emailAddress=" + inputEmail.value);
            httpRequest.setRequestHeader("Content-Type", "test/plain");
            httpRequest.send();


            //타이머
            const timer = () => {
                timerCount--;

                const authorTimer = document.getElementById("author_timer");
                let min;
                let sec;

                min = "0" + String(Math.floor(timerCount/60));
                sec = String(timerCount%60);

                if(sec.length === 1) {
                    sec = "0" + sec;
                }
                authorTimer.innerHTML = "인증확인 남은시간 " + min + ":" + sec;
            }

            const timeOut = executeTimer => {
                clearInterval(executeTimer); //타이머 정지
                deleteAuthorNumber(); // 인증번호 제거
                emailConfirm.style.display = "none";
                alert('인증확인 시간을 초과하였습니다.');
            }

        }

        //이메일 인증확인
        const checkAuthorNum = () => {
            const authorNumber = document.getElementById("author_number").value;
            const httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function () {
                if(this.readyState === 4 && this.status ===200) {
                    if(this.responseText === null || this.responseText === '') {
                        alert('알맞지 않은 인증번호입니다.');
                    }else{
                        authorNumberCheck.value = true;
                        clearInterval(executeTimer);
                        clearTimeout(executeTimeOut);
                        alert('인증되었습니다.');

                        //인증한 후 삭제
                        deleteAuthorNumber();
                        emailConfirm.style.display = "none";
                    }
                }
            }

            httpRequest.open("POST", "/user/email/" + authorNumber + "/check");
            httpRequest.setRequestHeader("Content-Type", "text/plain");
            httpRequest.send();
        }


        //이메일 인증번호 삭제
        const deleteAuthorNumber = () => {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("DELETE", "/user/email/" + emailId.value + "/delete");
            httpRequest.setRequestHeader("Content-Type", "text/plain");
            httpRequest.send();
        }

        //해당 페이지를 벗어났을경우 인증번호가 있을경우 삭제
        window.addEventListener('beforeunload', (event) => {
            event.preventDefault();
            if(emailId.value != '') {
                deleteAuthorNumber();
            }
        });


    </script>
</body>
</html>