<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내꼬니꼬</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/xeicon.min.css}" href="../css/xeicon.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_reset.css}" href="../css/h_reset.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_style.css}" href="../css/h_style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/h_sub.css}" href="../css/h_sub.css">
    <link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script th:src="@{/js/main.js}" src="../js/main.js"></script>
</head>
<body>
    <div class="wrap">
        <header class="header header_border">
            <div class="sub_header sub_header_admin h_con">
                <h1 class="logo">
                    <a href="../index.html"><img src="../img/logo.png" alt=""></a>
                    <span>관리자 페이지</span>
                </h1>
                <ul class="admin_wrap">
                    <li>
                        <a href="#" class="admin_img">
                            <img src="../img/main_user_icon_p.png" alt="">
                        </a>
                        <div class="admin_name">
                            <p><span>0 0 0</span>님</p>
                        </div>
                    </li>
                    <li class="admin_logout clearfix">
                        <a href="#">로그아웃</a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="section_wrap">
            <div class="admin_left">
                <ul class="admin_menu">
                    <li>
                        <a href="#">회원관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="./admin.html">회원 목록 조회</a>
                            </li>
                            <li>
                                <a href="./admin02.html">관리자 목록 조회</a>
                            </li>
                            <li>
                                <a href="./admin03.html">회원 그룹별 조회</a>
                            </li>
                            <li>
                                <a href="./admin04.html">회원가입 추이</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">상품관리</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="./admin05.html">상품 등록 수</a>
                            </li>
                            <li>
                                <a href="./admin06.html">거래 완료 비율</a>
                            </li>
                            <li>
                                <a href="./admin07.html">카테고리 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#">광고관리</a>
                        <ul class="admin_sub">
                            <li class="active">
                                <a href="./admin08.html">광고관리</a>
                            </li>
                            <li>
                                <a href="./admin09.html">광고등록</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">공지사항</a>
                        <ul class="admin_sub">
                            <li>
                                <a href="./admin10.html">공지사항</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="admin_right clearfix">
                <h3 class="h_fs_26">광고관리</h3>

                <div class="adm08_list">
                    <ul>
                        <li>
                            <span class="adm08_l">제목</span>
                            <span th:text="${ad.title}" class="adm08_r">퍼피랜드-royal 강아지 사료</span>
                        </li>
                        <li>
                            <span class="adm08_l">작성자</span>
                            <span th:text="${ad.accountId}" class="adm08_r">배고픈 태크</span>
                        </li>
                        <li>
                            <span class="adm08_l">광고 이미지 파일</span>
                            <span th:text="${ad.imgFileName}" class="adm08_r">C://file/picture</span>
                        </li>
                        <div style=" width:400px ;height: 400px" th:src="${ad.adImgUrl}">
                        </div>
                        <li>
                            <span class="adm08_l">광고 연결 주소</span>
                            <span th:text="${ad.url}" class="adm08_r">http://www.naver.com</span>
                        </li>
                        <li>
                            <span class="adm08_l">광고 개시/종료 일자</span>
                            <span class="adm08_r"><i th:text="${ad.startDate}">2021.05.01</i>  -  <i th:text="${ad.endDate}">2021.05.30</i></span>
                        </li>
                    </ul>
                </div>

                <ul class="adm08_btn_box">
                    <li>
                        <a th:href="@{/admin/adEdit}" class="modify_btn">수정</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/ads}" class="list_btn">목록으로</a>
                    </li>
                    <li>
                        <a  class="del_btn">삭제</a>
                    </li>
                </ul>
            </div>
        </div>





    </div>
</body>
</html>