<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div class="wrap">
    <header class="header header_border" th:replace="fragment/admin_body_header::admin_body_header"/>
    <div class="section_wrap">
        <div class="admin_left" th:replace="fragment/admin_menu :: admin_menu"/>

        <div class="admin_right">
            <h3 class="h_fs_26">광고등록</h3>
            <form th:action name="register" id="register" class="admin09_register" method="post"
                  enctype="multipart/form-data">
                <div>
                    <span>제목</span>
                    <input name="title" th:value="${ad.title}" type="text" placeholder="제목을 입력하세요.">
                </div>
                <div class="admin09_register_file">
                    <span>광고이미지 사진 등록</span>
                    <input type="text" hidden name="imgFileName" th:value="${ad.imgFileName}">
                    <input type="text" hidden name="adImgUrl" th:value="${ad.adImgUrl}">

                    <input type="text" th:value="${ad.imgFileName}"
                           class="file_name_only">

                    <input name="imgFile" id="file_upload" class="admin09_fileupload" type="file"
                           onchange="previewPic(event)" placeholder="이미지 이름이 나타납니다.">
                    <label for="file_upload" class="admin09_fileupload_label">파일 불러오기</label>
                </div>
                <div id="preview" style=" width:100% ;height: 10%">
                    <img th:src="${ad.adImgUrl}">

                </div>
                <div>
                    <span>광고 연결 주소</span>
                    <input name="url" th:value="${ad.url}" type="url" placeholder="URL을 입력해주세요.">
                </div>


                <div class="admin09_register_date">
                    <div>
                        <span>시작 일자</span>
                        <input id="startDate" name="startDate" type="date">
                    </div>

                    <div>
                        <span>종료 일자</span>
                        <input id="endDate" name="endDate" type="date">
                    </div>
                </div>

                <ul class="adm08_btn_box adm09_btn_box">
                    <li class="on">
                        <a style="cursor: pointer" onclick="submitAdvert()" class="confrim_btn">수정완료</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/advert/{advertisementId}(advertisementId=${ad.advertisementId})}"
                           class="list_btn">취소</a>
                    </li>
                </ul>
            </form>


            <script type="text/javascript" src="/js/admin/submit_advert.js"></script>
            <script type="text/javascript" th:inline="javascript">

                //localdate으로 저장된 날짜=>string으로 바꿔 넣어주기
                document.getElementById("startDate").value = [[${ad.startDate}]].substring(0, 10);
                document.getElementById("endDate").value = [[${ad.endDate}]].substring(0, 10);

            </script>
            <script>
                //파일 이름만 나오게 추출
                $(function () {
                    var fileTarget = $('.admin09_fileupload');
                    fileTarget.on('change', function () { // 값이 변경되면
                        if (window.FileReader) { // modern browser
                            var filename = $(this)[0].files[0].name;
                        } else { // old IE
                            var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
                        }
                        // 추출한 파일명 삽입
                        $(this).siblings('.file_name_only').val(filename);
                    });
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>