<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neconico.neconico.mapper.store.StoreItemListMapper">
    <resultMap id="itemcard" type="itemcarddto">
        <id column="itemid" property="itemId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="img" property="itemImg"/>
        <result column="created" property="createdTime"/>
        <result column="status" property="status"/>
        <result column="views" property="views"/>
    </resultMap>

    <resultMap id="itempurchasedcard" type="itempurchasedcarddto">
        <id column="itemid" property="itemId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="img" property="itemImg"/>
        <result column="created" property="createdTime"/>
        <result column="status" property="status"/>
        <result column="views" property="views"/>
        <result column="purchaseId" property="purchaseId"/>
        <result column="content" property="content"/>
    </resultMap>

    <resultMap id="questioncard" type="storequestioncarddto">
        <id column="questionid" property="questionId"/>
        <result column="writername" property="writerName"/>
        <result column="content" property="content"/>
        <result column="questioncreated" property="replyCreatedTime"/>
        <result column="itemid" property="itemId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="img" property="itemImg"/>
        <result column="created" property="createdTime"/>
        <result column="status" property="status"/>
        <result column="views" property="views"/>
    </resultMap>


    <resultMap id="reviewcard" type="storereviewcarddto">
        <id column="reviewid" property="reviewId"/>
        <result column="accountid" property="accountId"/>
        <result column="writername" property="writerName"/>
        <result column="content" property="content"/>
        <result column="reviewcreated" property="replyCreatedTime"/>
        <result column="itemid" property="itemId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="img" property="itemImg"/>
        <result column="created" property="createdTime"/>
        <result column="status" property="status"/>
        <result column="views" property="views"/>
    </resultMap>

    <resultMap id="tradecard" type="storetradecarddto">
        <id column="tradeid" property="tradeId"/>
        <result column="buyername" property="buyerName"/>
        <result column="status" property="tradeStatus"/>
        <result column="tradecreated" property="createdDate"/>
        <result column="itemid" property="itemId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="img" property="itemImg"/>
        <result column="created" property="createdTime"/>
        <result column="status" property="status"/>
        <result column="views" property="views"/>
    </resultMap>

    <sql id="selectItem">
        select i.item_id       itemid,
               i.title         title,
               i.price         price,
               i.item_img_urls img,
               i.created_date  created,
               i.sale_status   status,
               i.hits          views
        from item i
    </sql>

    <sql id="sorting">
        order by
                ${sortKind}
                ${sortOrder}
                LIMIT
                ${startRow}
                ,
                ${countRow}
    </sql>


    <select id="selectStoreMyItemList" parameterType="storeitemsortingdto" resultMap="itemcard">
        <include refid="selectItem"/>
        where user_id = #{userId}
        <include refid="sorting"/>
    </select>

    <select id="countStoreMyItem" resultType="Long">
        select count(*)
        from item
        where user_id = #{userId}
    </select>


    <select id="selectStoreFavoriteList" parameterType="storeitemsortingdto" resultMap="itemcard">
        <include refid="selectItem"/>
        inner join favorite f
        on f.item_id = i.item_id
        where f.user_id = #{userId}
        <include refid="sorting"/>
    </select>

    <select id="countStoreFavoriteItem" resultType="Long">
        select count(*)
        from favorite
        where user_id = #{userId}
    </select>


    <select id="selectStoreSoldItemList" parameterType="storeitemsortingdto" resultMap="itemcard">
        <include refid="selectItem"/>
        inner join sale_item s
        on s.item_id = i.item_id
        where s.user_id = #{userId}
        <include refid="sorting"/>
    </select>

    <select id="countStoreSoldItem" resultType="Long">
        select count(*)
        from sale_item
        where user_id = #{userId}
    </select>

    <select id="selectStorePurchasedItemList" parameterType="storeitemsortingdto" resultMap="itempurchasedcard">
        select i.item_id itemid,
        i.title title,
        i.price price,
        i.item_img_urls img,
        p.purchase_date created,
        p.purchase_item_id purchaseId,
        i.sale_status status,
        i.hits views,
        s.content content
        from item i
        inner join purchase_item p
        on p.item_id = i.item_id
        left join store_review s
        on p.purchase_item_id = s.purchase_item_id
        where p.user_id = #{userId}
        <include refid="sorting"/>
    </select>

    <select id="countStorePurchasedItem" resultType="Long">
        select count(*)
        from purchase_item
        where user_id = #{userId}
    </select>


    <select id="selectStoreQuestionList" parameterType="storeitemsortingdto" resultMap="questioncard">
        select q.item_question_id questionid,
        u.account_name writername,
        q.content content,
        q.created_date questioncreated,
        i.*
        from item_question q
        inner join (
        <include refid="selectItem"/>
        where i.user_id = #{userId}) i
        on itemid = q.item_id
        inner join users u
        on u.user_id = q.user_id
        <include refid="sorting"/>
    </select>

    <select id="countStoreQuestion" resultType="Long">
        select count(*)
        from item i
                     inner join item_question q
                on i.item_id = q.item_id
        where i.user_id = #{userId}
    </select>

    <select id="selectStoreReviewList" parameterType="storeitemsortingdto" resultMap="reviewcard">
        select sr.store_review_id reviewid,
        s.store_name writername,
        u.account_id accountid,
        sr.content content,
        sr.created_date reviewcreated,
        i.*
        from (
        <include refid="selectItem"/>
        where i.user_id = #{userId}) i
        inner join purchase_item p
        on p.item_id = itemid
        inner join users u
        on p.user_id = u.user_id
        inner join store_review sr
        on sr.purchase_item_id = p.purchase_item_id
        inner join store s
        on p.user_id = s.user_id
        <include refid="sorting"/>
    </select>

    <select id="countStoreReview" resultType="Long">
        select count(*)
        from item i
                     inner join purchase_item p
                on i.item_id = p.item_id
                     inner join store_review sr
                on sr.purchase_item_id = p.purchase_item_id
        where i.user_id = #{userId}
    </select>

    <select id="selectStoreTradeList" parameterType="storeitemsortingdto" resultMap="tradecard">
        select t.trade_id tradeid,
        u.account_name buyername,
        t.trade_status status,
        IF(t.response_create = t.request_create, t.response_create, t.request_create) tradecreated,
        i.*
        from (
        <include refid="selectItem"/>
        where user_id = #{userId}) i
        inner join trade t
        on itemid = t.item_id
        inner join users u
        on t.user_id = u.user_id
        <include refid="sorting"/>
    </select>

    <select id="countStoreTrade" resultType="Long">
        select count(*)
        from item i
                     inner join trade t
                on i.item_id = t.item_id
        where i.user_id = #{userId}
    </select>
</mapper>