<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neconico.neconico.mapper.store.StoreItemListMapper">
    <resultMap id="itemcard" type="itemcardvo">
        <id column="itemid" property="itemId"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="img" property="itemImg"/>
        <result column="created" property="createdTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="questioncard" type="storequestioncardvo">
        <id column="questionid" property="questionId"/>
        <result column="writername" property="writerName"/>
        <result column="content" property="content"/>
        <result column="replycreatedtime" property="replyCreatedTime"/>
        <association property="item" javaType="itemcardvo"/>
    </resultMap>

    <resultMap id="reviewcard" type="storereviewcardvo">
        <id column="reviewId" property="reviewId"/>
        <result column="writername" property="writerName"/>
        <result column="content" property="content"/>
        <result column="replycreatedtime" property="replyCreatedTime"/>
        <association property="item" javaType="itemcardvo"/>
    </resultMap>

    <resultMap id="tradecard" type="storetradecardvo">
        <id column="questionid" property="tradeId"/>
        <result column="buyername" property="buyerName"/>
        <result column="content" property="tradeStatus"/>
        <result column="requesttiem" property="requestTime"/>
        <result column="responsetime" property="requestTime"/>
        <association property="item" javaType="itemcardvo"/>
    </resultMap>


    <select id="selectStoreItemList" parameterType="storeitempagingdto" resultMap="itemcard">
        select *
        from (select s.ITEM_ID          AS itemid,
                     i.TITLE            AS title,
                     i.PRICE            AS price,
                     i.ITEM_IMG_URLS    AS img,
                     i.HITS             AS views,
                     i.CREATED_DATE     AS created,
                     i.ITEM_STATUS      AS status,
                     q.ITEM_QUESITON_ID AS questionid,
                     u.ACCOUNT_NAME     AS writername,
                     q.CONTENT          AS content,
                     q.CREATED_DATE     AS replycreatedtime
              from ITEM AS s
                           inner join ITEM AS i
                      on s.ITEM_ID = i.ITEM_ID
                           inner join item_question AS q
                      on s.ITEM_ID = q.ITEM_ID
                           inner join users AS u
                      on u.USER_ID = q.USER_ID
              where s.USER_ID = #{userId}
              order by i.${sortKind} ${sortOrder}
                ) AS Z
                LIMIT ${startRow}
           , ${countRow}
    </select>

    <select id="selectStoreQuestionList" parameterType="storeitempagingdto" resultMap="questioncard">
        select *
        from (select s.ITEM_ID       AS itemid,
                     i.TITLE         AS title,
                     i.PRICE         AS price,
                     i.ITEM_IMG_URLS AS img,
                     i.HITS          AS views,
                     i.CREATED_DATE  AS created,
                     i.ITEM_STATUS   AS status
              from ITEM s
                           inner join item_question i
                      on s.ITEM_ID = i.ITEM_ID
                           inner join
                           where USER_ID = #{userId}) AS Z
                LIMIT ${startRow}
           , ${countRow}
    </select>


    <select id="selectStoreReviewList" parameterType="storeitempagingdto" resultMap="reviewcard">
    </select>

    <select id="selectStoreTradeList" parameterType="storeitempagingdto" resultMap="tradecard">
    </select>
</mapper>