<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragment/header :: header"/>
  <body>
    <div class="wrap">
      <header class="header" th:replace="fragment/body_header :: body_header"/>
      <!-- content -->
      <div class="main_section_wrap h_con">
        <section class="main_visual">
          <div class="swiper-container">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="./img/mv_img01.jpg" alt="" />
              </li>
              <li class="swiper-slide">
                <img src="./img/mv_img02.jpg" alt="" />
              </li>
            </ul>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </section>

        <section class="main_list">
          <div class="list_tit">
            <h2 class="h_fs_26">오늘의 추천</h2>
          </div>
          <ul class="main_list_wrap">
            <li>
              <a href="/store/store_view.html">
                <div class="list_img">
                  <img src="./img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 01</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="./img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 02</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 03</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 04</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 05</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 06</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 07</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 08</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 09</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 10</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 11</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 12</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 13</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 14</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 15</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 16</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 17</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 18</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 19</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="list_img">
                  <img src="/img/main_list_img01.jpg" alt="" />
                </div>
                <div class="list_txt">
                  <h3>오늘의 물건 20</h3>
                  <p>29,000원</p>
                  <span>1시간 전</span>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>

      <footer th:replace="fragment/footer :: footer"/>
    </div>
  </body>
</html>
